@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Coluna 1</h2>
        <p>
            Coluna 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Coluna 2</h2>
        <p>Texto 1.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Coluna 3</h2>
        <p>Texto 1</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!--Definição da section rodape-->
@section rodape{ 
    <p>Este é o rodapé da seção rodapé que só sairá na index</p>
}