<div class="menu">
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-costura">
            <img src="~/Content/costura-LOGO.jpg" alt="Silva Araujo" width="70" height="70" class="d-inline-block align-text-top">
        </div>
        <div class="justify-content-md-end">
            <a class="navbar-brand" href="~/Home/Index">
                
                <button type="button" class="btn btn-danger">Home</button>
            </a>
            <a class="navbar-brand" href="~/Home/Contact">
                <button type="button" class="btn btn-danger">Contato</button>
            </a>
            <a class="navbar-brand" href="~/Home/About">
                <button type="button" class="btn btn-danger">Sobre</button>

            </a>
        </div>
    </div>
</nav>
</div>