
@{
    ViewBag.Title = "_Rodape";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-text">
                <p>Todos os direitos reservados - 2021</p>
            </div>
        </div>
    </div>
</nav>



